<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.weisi.tool.wsnbox">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="${appName}"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/BaseActivityTheme"
        tools:replace="android:label">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.DataPrepareService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity
            android:name=".activity.DataBrowseActivity"
            android:label="@string/data_browse"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="action_start_about_activity"
                android:value="${actionStartAboutActivity}${actionSuffix}"/>
        </activity>
        <activity
            android:name=".activity.ParameterConfigurationActivity"
            android:label="@string/parameter_config"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about_app"
            android:parentActivityName=".activity.SettingsActivity">
            <intent-filter>
                <action android:name="${actionStartAboutActivity}${actionSuffix}"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <receiver
            android:name=".receiver.DownloadCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.ProviderConfigurationActivity"
            android:parentActivityName=".activity.ParameterConfigurationActivity">
        </activity>
        <activity
            android:name=".activity.SensorConfigurationActivity"
            android:label="@string/sensor_config"
            android:parentActivityName=".activity.ProviderConfigurationActivity">
        </activity>
        <activity
            android:name=".activity.DeviceConfigurationActivity"
            android:label="@string/device_config"
            android:parentActivityName=".activity.ProviderConfigurationActivity">
        </activity>
        <activity
            android:name=".activity.DemonstrationActivity"
            android:label=""
            android:parentActivityName=".activity.MainActivity">
        </activity>
    </application>

</manifest>