<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.weisi.tool.wsnbox">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="${appName}"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.DataPrepareService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity
            android:name=".activity.DataBrowseActivity"
            android:label="@string/data_browse">
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings">
        </activity>
        <activity
            android:name=".activity.ParameterConfigurationActivity"
            android:label="@string/parameter_config">
        </activity>
        
        <provider
            android:authorities="${applicationId}.provider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>